# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/
.vs/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
data/*
!data/raw_multiframe/
#data/raw_multiframe/*


# exclude output on default but allow experiment 1 output as examples
output/*
!output/psII/
!output/psII/exp1_psII.csv
output/psII/pseudocolor_images/*
!output/psII/pseudocolor_images/experiment1/

# Mac OS-specific storage files
.DS_Store

# Remove R files
.Rproj*
.Rhistory

# Remove Dask files
dask*/
.Rproj.user
